 /* body{
    
    margin-left: 0px;
    margin-top: 0%;
    margin-right: 0%;
    
    
   
}  */
.rajini{
    width: 40%;
    height: 630px;

    
}
.all_wallet{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto; 
   
    background-image: linear-gradient(rgb(41, 38, 39), rgb(103, 91, 209));
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 0px;



}
.topic{
    width: 500px;
    height: 400px;
    
    position: absolute;
    left: 570px;
    top: 30px;
}
.ca-all{
    
    

    /* background-color: yellow; */
    width: 800px;
    
    /* padding: 10px; */
}
.card{
    display: inline-block;
    margin-left: 10px;
    
    width: 370px;
    height: 200px;
    border: 2px;
    background-color: rgba(48, 48, 49, 0.288);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    
    
}
.walletlogo{
    width: 70px;
    height: 70px;
    position: relative;
    left: 259px;
    top: 5px;
    border-radius: 35px;
}
.wallet-text{
    position: relative;
    left: 10px;
    top: 0px;
    
    width: 300px;
    
}

