/* body{
    
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
   
    overflow: hidden;
    
    
    
} */

.all{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto; 
    background-color: rgb(218, 201, 201);
    background-image: linear-gradient(rgb(41, 38, 39), rgb(100, 18, 62));
    color: rgb(80, 80, 80);

}
/* rajini image log */
.rajini{
    width: 40%;
    height: 630px;

    
}
/* google login button */
.google-log{
    background-color:white;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    border: none;
    left: 150px;

    
}
/* total login div */
.login{
    width: 500px;
    height: 400px;
    
    position: absolute;
    left: 700px;
    top: 100px;
}
/* google image */
.google{
    width: 15px;
    position: relative;
    top: 2px;

}
.textbox{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    border-style: none;
    outline: none;
    background-color: rgb(46, 31, 31);
    padding-left: 5px;

    

}
.form{
    position: relative;
    left: 85px;
    padding: 10px;
}


.bn632-hover {
    position: relative;
    left: 40px;
    width: 160px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out;*/
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; 
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
      background-image: linear-gradient(
        to right,
        #fc6076,
        #ff9a44,
        #ef9d43,
        #e75516
      );
      box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }
  a{
      padding-left: 25px;
      color: white;
  }


  



  .background {
    width: 100vw;
    height: 100vh;
    background: #3e1e68;
}
.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(1) {
    color: #583c87;
    top: 33%;
    left: 65%;
    animation-duration: 10.3s;
    animation-delay: -2.4s;
    transform-origin: -10vw 13vh;
    box-shadow: -40vmin 0 7811415585vmin currentColor;
}
.background span:nth-child(2) {
    color: #583c87;
    top: 9%;
    left: 77%;
    animation-duration: 12.1s;
    animation-delay: -13.2s;
    transform-origin: 18vw -23vh;
    box-shadow: -40vmin 0 13820600665vmin currentColor;
}
.background span:nth-child(3) {
    color: #583c87;
    top: 100%;
    left: 52%;
    animation-duration: 14.8s;
    animation-delay: -14.5s;
    transform-origin: 11vw -3vh;
    box-shadow: -40vmin 0 5675347735vmin currentColor;
}
.background span:nth-child(4) {
    color: #583c87;
    top: 74%;
    left: 30%;
    animation-duration: 13.9s;
    animation-delay: -11.3s;
    transform-origin: 15vw -9vh;
    box-shadow: -40vmin 0 20195574695vmin currentColor;
}
.background span:nth-child(5) {
    color: #e45a84;
    top: 33%;
    left: 29%;
    animation-duration: 14.2s;
    animation-delay: -0.9s;
    transform-origin: -10vw -22vh;
    box-shadow: -40vmin 0 5666262985vmin currentColor;
}
.background span:nth-child(6) {
    color: #583c87;
    top: 15%;
    left: 12%;
    animation-duration: 14.1s;
    animation-delay: -13.5s;
    transform-origin: -20vw 12vh;
    box-shadow: -40vmin 0 7693576555vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffacac;
    top: 29%;
    left: 56%;
    animation-duration: 10.7s;
    animation-delay: -11.3s;
    transform-origin: 2vw -22vh;
    box-shadow: -40vmin 0 10394206695vmin currentColor;
}
.background span:nth-child(8) {
    color: #583c87;
    top: 77%;
    left: 59%;
    animation-duration: 15.5s;
    animation-delay: -2.3s;
    transform-origin: -11vw -3vh;
    box-shadow: -40vmin 0 16062188915vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffacac;
    top: 85%;
    left: 56%;
    animation-duration: 10.1s;
    animation-delay: -6.5s;
    transform-origin: 19vw -7vh;
    box-shadow: -40vmin 0 11172669765vmin currentColor;
}
.background span:nth-child(10) {
    color: #583c87;
    top: 56%;
    left: 64%;
    animation-duration: 15.2s;
    animation-delay: -15.2s;
    transform-origin: -15vw -16vh;
    box-shadow: -40vmin 0 8688728335vmin currentColor;
}
.background span:nth-child(11) {
    color: #583c87;
    top: 32%;
    left: 73%;
    animation-duration: 12s;
    animation-delay: -6.1s;
    transform-origin: 4vw 10vh;
    box-shadow: -40vmin 0 7355878455vmin currentColor;
}
.background span:nth-child(12) {
    color: #583c87;
    top: 2%;
    left: 73%;
    animation-duration: 10.8s;
    animation-delay: -6.8s;
    transform-origin: -9vw 20vh;
    box-shadow: -40vmin 0 10153078775vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffacac;
    top: 30%;
    left: 55%;
    animation-duration: 11.8s;
    animation-delay: -4s;
    transform-origin: 11vw 5vh;
    box-shadow: -40vmin 0 3303860585vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffacac;
    top: 30%;
    left: 11%;
    animation-duration: 13.9s;
    animation-delay: -5.8s;
    transform-origin: 5vw -3vh;
    box-shadow: -40vmin 0 2950147435vmin currentColor;
}
.background span:nth-child(15) {
    color: #583c87;
    top: 42%;
    left: 52%;
    animation-duration: 13s;
    animation-delay: -13.6s;
    transform-origin: -22vw 18vh;
    box-shadow: -40vmin 0 21146433175vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffacac;
    top: 80%;
    left: 63%;
    animation-duration: 13.1s;
    animation-delay: -1.1s;
    transform-origin: 15vw -2vh;
    box-shadow: -40vmin 0 19967927755vmin currentColor;
}
.background span:nth-child(17) {
    color: #583c87;
    top: 67%;
    left: 38%;
    animation-duration: 11.7s;
    animation-delay: -10.8s;
    transform-origin: 6vw 14vh;
    box-shadow: -40vmin 0 11427174295vmin currentColor;
}
.background span:nth-child(18) {
    color: #e45a84;
    top: 88%;
    left: 92%;
    animation-duration: 15.4s;
    animation-delay: -3.5s;
    transform-origin: -5vw 6vh;
    box-shadow: -40vmin 0 1332832865vmin currentColor;
}
.background span:nth-child(19) {
    color: #e45a84;
    top: 82%;
    left: 66%;
    animation-duration: 12.6s;
    animation-delay: -11.6s;
    transform-origin: -14vw 24vh;
    box-shadow: -40vmin 0 789193095vmin currentColor;
}
.background span:nth-child(20) {
    color: #583c87;
    top: 13%;
    left: 20%;
    animation-duration: 14.7s;
    animation-delay: -2.6s;
    transform-origin: -19vw -4vh;
    box-shadow: -40vmin 0 14977087535vmin currentColor;
}
/* forgotpettern */
.forget{
    color: rgb(80, 80, 80);
    padding: 20px;
    


}



